.informatie {
    margin: 0 auto;
    width: fit-content;
    padding: 10px 3pc 10px 3pc;
    background-color: white;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    font-size: 17px;
}

.klant {

}

.trash {
    margin-left: 3pc;
}

.edit {
    margin-right: 3pc;
}

.icons {
    text-align: center;
    font-size: 20px;
}

.toevoegen {
    margin: 0 auto;
    width: fit-content;
    padding: 10px 3pc 10px 3pc;
    background-color: white;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    font-size: 17px;
}

